body{
    margin: 0;
    padding: 0;
    display: flex;
    background-color: brown;
    font-family: sans-serif;
}

.container{
    width: 100%;
    text-align: center;
    margin-top: 100px;

}
#title{
    text-align: center;
    font-size: 60px;
}
#inputText{
    width: 300px;
    height: 46px;
    border: 1px solid green;
    outline: none;
    font-size: 20px;
    vertical-align: middle;
    border-radius: 3px solid black;
    border-radius: 15px;
    color: black;
}
#addToDo{
    height: 40px;
    width: 70px;
    border: 3px solid black;
    vertical-align: middle;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    background-color: brown;
    text-align: center;
    border-radius: 10px;
}
#addToDo:active{
    background-color: black;
    color: white;
}
#clearTodo{
    height: 40px;
    width: 70px;
    border: 3px solid black;
    vertical-align: middle;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    background-color: white;
    text-align: center;
    border-radius: 10px;
}
#clearTodo:active{
    background-color: whitesmoke;
}

.paragraph-styling{
    margin: 0;
    cursor: pointer;
    font-size: 30px;
    color: white;
    text-transform: capitalize;
}
.to-dos{
    margin-top: 20px
}